<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/popup.css">
    <script src="/public/script/popup.js" defer></script>
    <title>Document</title>
</head>
<body>
    <button class="click">check</button>
    <div class="modal">
        <span class="close">&times;</span>
        <form class="popup">
            <h3>Create post</h3>
            <div>
                <a href=""><img src="/public/images/user.png" width="40" height="40" alt="user"> </a>
                <h4>Hai To</h4>
            </div>
            <textarea placeholder="What is in your mind?" id="content-text" name="content-text" rows="4" cols="50"></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
</body>
</html>