<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/body.css">
    <title>Facebook</title>
</head> 
<body>
    <%- include('includes/nav-bar.ejs') %>  
    <div class="post">
        <div class="upload">
            <a href=""><img src="images/user.png" width="40" height="40" alt="user"> </a>
            <input type="text" placeholder="Search Facebook" class="search-bar">
        </div>
        <div class="content">
            <div>
                <img height="24" width="24" alt="" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/v1iF2605Cb5.png">
                <h3>Live video</h3>
            </div>
            <div>
                <img height="24" width="24" alt="" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/a6OjkIIE-R0.png">
            </div>
            <div>
                <img height="24" width="24" alt="" referrerpolicy="origin-when-cross-origin" src="https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/yMDS19UDsWe.png">
            </div>
        </div>

    </div>
</body>
</html>