<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Login Page</title>
    <link rel="stylesheet" href="/styles/signin.css">
    <script  src="script/signin.js" defer></script>
  </head>
  <body>
    <div class="content">
      <div class="flex-div">
        <div class="name-content">
          <h1 class="logo">Facebook</h1>
          <p>Connect with friends and the world around you on Facebook.</p>
        </div>
          <form action="/signin" method="POST">
            <input type="text" name="email" placeholder="Email or Phone Number" required />
            <input type="password" name="password" placeholder="Password" required>
            <button class="login">Log In</button>
            <a href="#">Forgot Password ?</a>
            <hr>
            <button class="create-account" onclick="display()">Create New Account</button>
          </form>
      </div>
    </div>
    <div class="registration">
        <div class="wrapper">
            <div class="title">
               Create an account
               <p>It's quick and easy</p>
            </div>
            <form action="/signup" method="POST">
               <div class="field">
                  <input type="text" name="fname" required>
                  <label for="">First Name</label>
               </div>
    
               <div class="field">
                  <input type="text" name="lname" required>
                  <label for="">Last Name</label>
               </div>
    
               <div class="field">
                  <input type="email" name="email" required>
                  <label for="">Email Address</label>
               </div>
    
               <div class="field">
                  <input type="password" name="password" required>
                  <label for="">Password</label>
               </div>
    
               <div class="field">
                  <input type="password" required>
                  <label for="">Confirm Password</label>
               </div>
    
               <!-- <div class="content">
                  <div class="pass-link">
                     <a href="#">Forgot password?</a>
                  </div>
               </div> -->
               <div class="field">
                  <input type="submit" value="Sign Up">
               </div>
    
               <div class="signup-link">
                  Already have a account?<a href="#" onclick="disappear()"> Login Now</a>
               </div>
            </form>
         </div>
    </div>   
  </body>
</html>
